@font-face {
    font-family: 'Chicago';
    src: url('./fonts/ChiKareGo2.ttf');
}

@font-face {
    font-family: 'FindersKeepers';
    src: url('./fonts/FindersKeepers.ttf');
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.standard-dialog {
    font-family: 'Chicago';
    text-align: center;
}

.details-bar, .window-pane {
    font-family: 'Chicago';
}

.save-icon {
    padding-bottom: 0px;
    height: 20px;
}

.bomb {
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    transform: translate(42%, 50%);
}

.bomb-img {
    width: fit-content;
}

.mundus {
    margin-top: 10px;
    font-size: 2rem;
}